.legoStud {
    height: auto;
    width: 13px;
    display: block;
    background-image: url('/legostud-white.jpg');
    background-position: top;
    background-size: contain;
    background-repeat: repeat-y;
 
}